[submodule "sources/poky"]
	path = sources/poky
	url = https://github.com/kraj/poky.git
	branch = warrior
[submodule "sources/meta-raspberrypi"]
	path = sources/meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
	branch = warrior
[submodule "sources/openembedded-core"]
	path = sources/openembedded-core
	url = https://github.com/openembedded/openembedded-core.git
	branch = warrior
[submodule "sources/meta-rpi"]
	path = sources/meta-rpi
	url = https://github.com/jumpnow/meta-rpi.git
	branch = warrior
